<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日付ID変更</title>
</head>
<body>
<p>日付ID</p>
     <form th:method="post" th:object="${dates}" th:action="@{/date/change/no={no}(no=*{no})}">
          <label>No:<input type="text" th:field="*{no}"></label>
          <label>日付ID:<input type="text" th:field="*{dateId}"></label>
          <label>日付名:<input type="text" th:field="*{dateName}"></label>
          <label>加減値（年）:<input type="text" th:field="*{yearCalc}"></label>
          <label>加減値（月）:<input type="text" th:field="*{monthCalc}"></label>
          <label>加減値（日）:<input type="text" th:field="*{dayCalc}"></label>
          <button>更新</button>
     </form>
</body>
</html>