<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.example.demo.repository.DMapper">
  <!-- マッピングの定義 resultMapでJavaクラス設定　そのフィールド（下記ではproperty）とcolumnを結びつける-->
  <resultMap type="com.example.demo.domain.Date" id="date">
  <id column="no" property="no"/>
  <result column="dateid" property="dateId"/>
  <result column="datename" property="datename"/>
  <result column="yearcalc" property="yearCalc"/>
  <result column="monthcalc" property="monthCalc"/>
  <result column="daycalc" property="dayCalc"/>
  </resultMap>
  <!-- 全件取得 -->
  <select id="find" resultType="com.example.demo.domain.Date"> select * from dateapp </select>
  <!-- 新規登録 -->
  <insert id="insertOne">insert into dateapp (no, dateid, datename, yearcalc, monthcalc, daycalc) values (#{no}, #{dateId}, #{dateName}, #{yearCalc}, #{monthCalc}, #{dayCalc})</insert>
  <!-- 削除 -->
  <delete id="deleteOne">delete from dateapp where no = #{no}</delete>
  </mapper>
  